a {
  text-decoration: none; }

.container {
  max-width: 984px;
  margin: 32px auto; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 0; }

.header-admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header-admin a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black; }

.header-admin a:hover {
  color: green; }

.header-admin h1 {
  font-size: 24px;
  text-align: 33px;
  margin-right: 48px; }

.header-admin span {
  color: green;
  margin-right: 8px; }

.header-icon a {
  color: black;
  font-size: 24px; }

.header-icon a:hover {
  color: green; }

.table {
  margin-bottom: 60px; }

.down {
  font-size: 12px;
  color: green; }

tbody tr:hover {
  background: #dde1e5; }

td a {
  color: black;
  font-size: 24px; }

.table-icon {
  text-align: right; }

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.pagination li {
  border: 1px solid green; }

.pagination a {
  color: black; }

.pagination a:hover {
  color: white;
  background: green; }

.add-form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .add-form-check span {
    color: red;
    margin-right: 9px; }
  .add-form-check label {
    font-weight: bold; }

.modal-header {
  border-bottom: 0px;
  padding: 32px; }

.modal-body {
  padding: 0 32px; }

.modal-footer {
  padding: 16px 32px; }

.modal-title {
  font-size: 24px;
  line-height: 33px;
  font-weight: bold; }

.modal-content h6 {
  font-size: 20px;
  line-height: 33px;
  margin-bottom: 16px;
  font-weight: bold; }

.account {
  border-bottom: 1px solid #CED4DA;
  padding-bottom: 24.5px; }
  .account input {
    padding: 16px; }

.verification {
  padding: 24.5px 0;
  border-bottom: 1px solid #CED4DA; }
  .verification .verification-check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 18px; }
  .verification .form-check-input {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-right: 8px; }
  .verification button {
    width: 100%;
    padding: 16px 0; }
  .verification .date {
    font-size: 14px;
    color: #212529; }

.assess-level {
  padding: 24.5px 0;
  border-bottom: 1px solid #CED4DA; }
  .assess-level .form-select {
    padding: 16px; }

.custom-access {
  padding: 24.5px 0;
  border-bottom: 1px solid #CED4DA; }

.deactivate-account {
  padding-top: 19px; }
  .deactivate-account .alert {
    padding: 0; }
  .deactivate-account span {
    margin-right: 9px; }
  .deactivate-account p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: red; }
  .deactivate-account button {
    width: 100%;
    padding: 16px;
    margin-bottom: 19px; }

.btn-cancel {
  margin-right: 15px;
  padding: 8px 32px; }

.btn-update {
  padding: 8px 32px; }

.modal-header img {
  width: 141px;
  height: 141px;
  -o-object-fit: cover;
     object-fit: cover; }

.user-info {
  width: 260px;
  margin-left: 24px; }

.user-info-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .user-info-header .num {
    font-size: 16px;
    line-height: 1.5;
    color: #212529; }

.user-info-body .admin {
  font-size: 16px;
  line-height: 1.5;
  color: #212529; }

.user-info-body .name {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
  color: #212529; }

.user-info-body .mail {
  font-size: 14px;
  line-height: 24px;
  color: #6C757D; }

.user-info-footer button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px; }

.user-info-footer button:hover {
  color: green; }

.user-info-footer .verified {
  font-size: 14px;
  line-height: 24px; }

.user-info-footer .expand_more {
  display: inline-block; }

.user-info-footer .expand_less {
  display: none; }

/*# sourceMappingURL=index.css.map */
